SECRET_KEY=change-this-secret-key
DATABASE_URL=postgresql://username:password@localhost/sanko_connect

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=no-reply@sankoconnect.local

APP_BASE_URL=http://147.50.228.58:5000
